.expense-date {
    display: flex;
    flex-direction: column;
    width: 5.5rem;
    height: 5.5rem;
    border: 1px solid #ececec;
    background-color: #2a2a2a;
    color: white;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}
.expense-date__formatted{
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}