body {
  font-family: Arial, sans-serif;
  background-color: #3f3f3f;
  margin: 0;
  padding: 0;
}

.login-page-container {
  display: flex;
  height: 100vh;
}

.video-container {
  flex: 1;
  position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.auth-form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #fff;
}

h2 {
  color: #3f3f3f;
}

p {
  color: #666;
}

.login_form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 20px 0;
}

.input-group {
  margin-bottom: 1.5rem;
  position: relative;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

.input-group input:focus {
  border-color: #007BFF;
}

.input-group label {
  position: absolute;
  top: -10px;
  left: 10px;
  background: #fff;
  padding: 0 5px;
  font-size: 14px;
  color: #999;
}

.login_btn {
  width: 100%;
  padding: 10px;
  background: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 30px;
}

.login_btn:hover {
  background: #0056b3;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.form-links {
  margin-top: 10px;
  text-align: center;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

@media only screen and (max-width: 980px) {
  .login-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .auth-form-container {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 400px;
  }

  .login_form {
    background: transparent;
    box-shadow: none;
  }
}
